body {
  margin: 0;
}

.icon-black {
  color: black
}
.navbar {
  background-color: white !important;
  padding: 1rem 2rem !important;
}
.navbar-brand {
  font-family: 'Poiret One', cursive;
  color: black !important;
  font-size: 2.5rem !important;
}
.nav-link {
  font-family: 'Poiret One', cursive;
  color: rgb(0, 0, 0) !important;
  font-size: 1.3rem !important;
  padding: 0rem 2rem !important;
}
.nav-link:hover {
  color: white !important;
  background-color: black !important;
  border-radius: 1rem;
}

.title {
  margin-top: 4rem;
  font-family: 'Poiret One', cursive;
  color: black !important;
}

.counter-container { 
  padding: 2rem !important;
  width: 20rem;
  margin: 0 auto;
}

.btn {
  max-height: 50px;
  width: 50px;
}

.count {
  font-weight: bold;
  font-size: 2rem;
}