body {
  margin: 0;
}

.icon-black {
  color: black
}
.navbar {
  background-color: white !important;
  padding: 1rem 2rem !important;
}
.navbar-brand {
  font-family: 'Poiret One', cursive;
  color: black !important;
  font-size: 2.5rem !important;
}
.nav-link {
  font-family: 'Poiret One', cursive;
  color: rgb(0, 0, 0) !important;
  font-size: 1.3rem !important;
  padding: 0rem 2rem !important;
}
.nav-link:hover {
  color: white !important;
  background-color: black !important;
  border-radius: 1rem;
}

.title {
  margin-top: 4rem;
  font-family: 'Poiret One', cursive;
  color: black !important;
}

.counter-container { 
  border: 2px solid grey;
  padding: .5rem 1rem !important;
  width: 10rem;
  margin: 0 auto;
}



.count {
  font-weight: lighter;
  font-size: 1rem;
}

/*CARDS*/
.card {
  width: 300px !important;
  max-width: 300px !important;
  margin: 1rem 2rem;
}
.card img {
  width: 100% !important;
  max-width: 100% !important ;
}
.card .btn {
  width: 100px !important;
  background-color: bisque;
  font-weight: bold;
  color: white;
}